@import "tailwindcss";
@import "@fontsource/sniglet";
/* @import "@fontsource/inter"; */
/* @import "@fontsource/changa-one"; */
@import "@fontsource/quicksand";

@theme {
  --color-foreground: var(--color-white);
  --color-background: #0a0a0a;
  --color-muted: #181818;
  --color-muted-foreground: var(--color-gray-400);
  --color-border: var(--color-gray-800);
  --color-outline-focus: var(--color-gray-700);
  --font-game: "Sniglet";
}

@layer base {
  * {
    @apply border-border;
  }
  input,
  textarea {
    @apply outline-0 focus:border-outline-focus;
  }
  .link {
    @apply text-blue-400 underline;
  }
  .overlay {
    @apply fixed top-0 left-0 bg-black/30 w-full h-full flex items-center justify-center;
  }
  .panel {
    @apply bg-[#0F0F0F] p-4 px-6 max-w-xl w-full rounded-3xl border relative;
  }
}

body {
  @apply m-0 text-foreground bg-background;
  font-family: "Quicksand", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cnt {
  @apply container mx-auto px-4;
}
