@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/changa-one";

@theme {
  --color-foreground: var(--color-white);
  --color-background: var(--color-gray-950);
  --color-mutued-foreground: var(--color-gray-400);
  --color-border: var(--color-gray-800);
  --color-outline-focus: var(--color-gray-700);
  --font-game: "Changa One";
}

* {
  @apply border-border;
}
input,
textarea {
  @apply outline-0 focus:border-outline-focus;
}

body {
  @apply m-0 text-foreground bg-background;
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cnt {
  @apply container mx-auto px-4;
}
