@import "tailwindcss";

@theme {
  --color-foreground: var(--color-white);
  --color-background: var(--color-gray-950);
  --color-mutued-foreground: var(--color-gray-400);
  --color-border: var(--color-gray-800);
  --color-outline-focus: var(--color-black);
}

* {
  @apply border-border;
}
input,
textarea {
  @apply outline-outline-focus;
}

body {
  @apply m-0 text-foreground bg-background;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cnt {
  @apply container mx-auto px-4;
}
